.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	background-color: green;
}

.right {
	right: 0;
	background-color: blue;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

p {
	color: white;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

#forest {
	max-width: 100%;
	max-height: 100%;
}

#field {
	max-width: 100%;
	max-height: 100%;
}

#map {
	max-width: 100%;
	max-height: 100%;
}

#earth {
	max-width: 100%;
	max-height: 100%;
}
